h1 {
    font-size: 90px;
    color: #B3B3FE;
    font-weight: 100;
    cursor: default;

    text-align: center;
}

.hovered {
    color: #fbfbfb;
    font-weight: 700;
}

.hovered-adjacent {
    color: #CCCCFA;
    font-weight: 400;
}
